.jumbotron{
    background-image: url(//kao-h.assetsadobe3.com/is/image/content/dam/sites/kao/web-kao-com/merries/id/id/common/common_bg_usagi_pink.png?fmt=png-alpha);
    background-size: contain;
    height: 750px;
    text-align: center;
    background-color: white;
}    