.jumbotron {
    background-image: url(http://kao-h.assetsadobe3.com/is/image/content/dam/sites/kao/web-kao-com/merries/id/id/common/common_bg_mizutamausagi.png?fmt=png-alpha);
    background-size: contain;
    height: 750px;
    text-align: center;
    background-color: white;
}
/* .jumbotron .gambar {
    position: absolute;
    left: 380px;
    top: 1420px;
}
.jumbotron .gambar2 {
    position: absolute;
    left: 640px;
    top: 1418px;
}
.jumbotron .putri2{
    position: absolute;
    left: 640px;
    top: 1505px;
    font-size: 30px;
}
#klikdisiniuntukinfolebihlanjut{
    border: 3px solid pink;
    color: pink;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    top: 1560px;
    left: 620px;
    width: 20%;
    text-align: left;
}
.jumbotron .gambar3{
    position: absolute;
    left: 380px;
    top: 1760px;
}
.jumbotron .gambar4{
    position: absolute;
    left: 640px;
    top: 1750px;
}
.jumbotron .putri3{
    position: absolute;
    left: 638px;
    top: 1860px;
    font-size: 30px;
}
#klik{
    border: 3px solid pink;
    color: pink;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    top: 1950px;
    left: 620px;
    width: 20%;
    text-align: left;
}
.jumbotron .gambar5{
    position: absolute;
    left: 390px;
    top: 2050px;
}
.jumbotron .gambar6{
    position: absolute;
    left: 640px;
    top: 2045px;
}
.jumbotron .putri4{
    position: absolute;
    left: 640px;
    top: 2150px;
    font-size: 30px;
}
#kliksini{
    border: 3px solid pink;
    color: pink;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    top: 2250px;
    left: 620px;
    width: 20%;
    text-align: left;
}
.jumbotron .gambar7{
    position: absolute;
    top: 2350px;
    left: 450px;
}
.row {
    left: 100px;
} */
