img {
    display: block;
    position: relative;
    margin-bottom: 10px;
    margin-left: 550px;
}
li a {
    font-family: sans-serif;
    font-weight: normal;
    display: block;
    position: relative;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}  
li {
    float: right;
}
ul li {
    position: relative;
    display: inline-block;
    bottom: 8px;
    right: 400px;
}
.Mid{
    position: relative;
    top: 0px;
}
li a:hover{
    font-family: sans-serif;
    font-weight: normal;
    display: block;
    position: relative;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.sticky{
    position: sticky;
    top: 100px;
    background-color: #ff69B4;
    border-right: 200px solid #ff69B4;
    float: left;
    border-width: 600px;
    border-top: 900px;
    padding: 25px 60px 75px;
}
.dropbtn:hover {
    background-color: #ff69B4;
    color:white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  .dropdown {
    position: relative;
    display: inline-block;
    left: 450px;
    bottom:70px;
}
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightseagreen;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  .dropdown-content a:hover {background-color: palevioletred;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color:palevioletred ;}
  .putri1{
      position: absolute;
      bottom: 100px;
      top: 500px;
      left: -500px;
      right: -600px;
      z-index: -1;
}
  .putri2{
      position: absolute;
      border:solid;
      padding: 10px 200px;
      text-align: center;
      top: 1060px;
      left: 385px;
      border-color: pink;
      color: pink;
      z-index: -1;
}
  .putri3{
      position: absolute;
      left: 650px;
      top: 1100px;
      font-size: x-large;
      z-index: -1;
}
  .putri4{
      color: pink;
      text-align: center;
      position: relative;
      bottom: -1050px;
      left: 250px;
      z-index: -1;
}
  .putri5{
    text-align: center;
    position: relative;
    bottom: -770px;
    left: 20px;
    z-index: -1;
}
  .putri6{
    text-align: center;
    position: relative;
    bottom: -770px;
    left: -230px;
    z-index: -1;
}
  .putri7{
    text-align: center;
    position: relative;
    bottom: -820px;
    left: -100px;
    z-index: -1;
}
  .putri8{
    text-align: center;
    position: relative;
    bottom: -550px;
    left: 120px;
    z-index: -1;
}
  .putri9{
    text-align: center;
    position: relative;
    bottom: -550px;
    left: 160px;
    z-index: -1;
}
  .putri10{
    position: absolute;
    border:solid;
    padding: 5px 70px;
    text-align: center;
    top: 1830px;
    left: 690px;
    border-color: palevioletred;
    color: palevioletred;
    z-index: -1;
}
.putri11{
    text-align: center;
    position: relative;
    bottom: -770px;
    left: -100px;
    z-index: -1;
}
  .putri12{
    text-align: center;
    position: relative;
    bottom: -580px;
    left: 120px;
    z-index: -1;
}
  .putri13{
    text-align: center;
    position: relative;
    bottom: -580px;
    left: 150px;
    z-index: -1;
}
  .putri14{
    position: absolute;
    border:solid;
    padding: 5px 70px;
    text-align: center;
    top: 2130px;
    left: 675px;
    border-color: pink;
    color: pink;
    z-index: -1;
}
.putri15{
    text-align: center;
    position: relative;
    bottom: -690px;
    left: -90px;
    z-index: -1;
}
  .putri16{
    text-align: center;
    position: relative;
    bottom: -430px;
    left: 120px;
    z-index: -1;
}
  .putri17{
    text-align: center;
    position: relative;
    bottom: -420px;
    left: 150px;
    z-index: -1;
}
  .putri18{
    position: absolute;
    border:solid;
    padding: 5px 70px;
    text-align: center;
    top: 2380px;
    left: 689px;
    border-color: pink;
    color: pink;
    z-index: -1;
}
.putri19{
    text-align: center;
    position: relative;
    bottom: -600px;
    left: -70px;
    z-index: -1;
}
  .putri20{
    color: pink;
    text-align: center;
    position: relative;
    bottom: -700px;
    left: 95px;
    z-index: -1;
}
.putri21{
  text-align: center;
  position: relative;
  bottom: -700px;
  left: 100px;
  z-index: -1;
}
.putri22{
    text-align: center;
    position: relative;
    bottom: -700px;
    left: -130px;
    z-index: -1;
}
  .putri23{
    position: absolute;
    border:solid;
    padding: 10px 200px;
    text-align: center;
    top: 3300px;
    left: 530px;
    border-color: pink;
    color: pink;
    z-index: -1;
}
.putri24{
    color: pink;
    text-align: center;
    position: relative;
    bottom: -860px;
    left: 150px;
    z-index: -1;
}
.putri25{
  text-align: center;
  position: relative;
  bottom: -850px;
  left: 150px;
  z-index: -1;
}
.putri26{
    position: relative;
    bottom: -900px;
    left: 450px;
    z-index: -1;
}
.putri27{
    position: absolute;
    border:solid;
    padding: 10px 230px;
    text-align: center;
    top: 4000px;
    left: 495px;
    border-color: pink;
    color: pink;
    z-index: -1;
}
.wahyuni1{
    text-align: center;
    position: relative;
    bottom: 3060px;
    left: 900px;
}
.wahyuni3{
    text-align: center;
    position: relative;
    bottom: 3100px;
    left: 410px;
}